[submodule "models/python/miro_functions"]
	path = models/python/miro_functions
	url = https://github.com/MiRo-projects/basic_functions.git
[submodule "models/python/miro2/core/dashboard"]
	path = models/python/miro2/core/dashboard
	url = https://github.com/dbux/dashboard
